*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
    color: rgb(35, 51, 85);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.main-wrapper {
    height: 100%;
}

.product-input-wrapper {
    margin-left: 2%;
    margin-right: 2%;
    height: 10vh;
    z-index: 999;
}

.item-input {
    width: 100%;
    padding: 1.2rem .6rem;
    margin: .4rem 0;
    display: inline-block;
    border: .1rem solid #ccc;
    border-radius: .8rem;
    box-sizing: border-box;
}

.title-wrapper {
    margin-left: 2%;
    margin-top: 2%;
    height: 6vh;
}

.main-title {
    color: orange;
}

.products-list-wrapper {
    overflow-y: scroll;
    padding-left: 1rem;
    height: 50vh;
    margin-top: .5rem;
    border-top-style: solid;
    border-top-color: lightgrey;
    border-top-width: 1px;
}

.products-list-item {
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    margin-left: 1rem;
    margin-right: 1rem;
}

.text-item-details {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-style: italic;
}

.btn-item {
    font-size: 2.4rem;
    color: orange;
}

.btn-item:hover {
    color: #fcba5d;
}

.text-item {
    padding-top: 1rem;
}

.btn-edit {
    text-align: right;
}

.bottom-btn-wrapper {
    display: inline-block;
    position: fixed;
    bottom: 2vh;
    height: 8vh;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

.bottom-btn {
    display: inline-block;
    background-color: orange;
    color: white;
    cursor: pointer;
    width: 47%;
    height: 100%;
    padding-top: 1rem;
    text-align: center;
}

.bottom-btn:hover {
    background-color: #fcba5d;
}

#btn-del-checked {
    border-top-left-radius: .5rem;
}

#btn-del-all {
    border-bottom-right-radius: .5rem;
}

.ui-dialog-titlebar {
    color: white;
    background-color: orange;
}

.ui-dialog-content {
    color: orange;
}

.ui-button {
    color: white;
    background-color: orange;
}

.ui-button:hover {
    color: white;
    background-color: #fcba5d;
}

#product-name-title {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
    margin-bottom: 1rem;
}

.det-input-lab {
    font-size: 1.2rem;
    font-weight: normal;
    color: black;
    margin-bottom: 1rem;
}

.det-input {
    font-size: 1.2rem;
    font-weight: normal;
    color: black;
    margin-bottom: 1rem;
}

#input-lab-comments {
    width: auto;
}

#input-comments {
    width: 100%;
}

.settings-button-wrapper {
    width: 100%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    height: 2vh;
    font-size: 1.2rem;
    font-weight: normal;
}

.settings-btn {
    display: inline-block;
    width: 48%;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: orange;
}

.settings-btn-off {
    color: orange;
    background-color: white;
}

.settings-btn-on {
    color: white;
    background-color: orange;
}